@page "/viewclients";
@using RestSharp;
@using Newtonsoft.Json;
@using Microsoft.Maui.Controls;
@using PMS_Library.Models.DataModels;
@using PMS_Maui.Properties;
@inject NavigationManager NavigationManager;

<h3>View Client Details</h3>
<div>
	<h4><button class="btn btn-primary" @onclick="OnCreateClientOnClick">Create New Client</button></h4>
</div>

@code{
	public RestResponse Fetchclientdetails()
	{
		RestResponse response = new RestResponse();
		try
		{
			var baseURL = DeviceInfo.Platform == DevicePlatform.Android ? Resources.apk_baseURL : Resources.win_baseURL;
			var options = new RestClientOptions(baseURL)
				{
					MaxTimeout = -1,
				};
			var client = new RestClient(options);
			var request = new RestRequest("/api/client", Method.Get);
			response = client.Execute(request);
		}
		catch (Exception ex)
		{
			response.Content = ex.Message;
			DisplayErrorAlert(ex.Message);

		}
		return response;
	}

	//Display Error Alert
	private async void DisplayErrorAlert(string Data)
	{
		await Application.Current.MainPage.DisplayAlert("Error", Data, "OK");
	}

	//Create New Client
	private async void OnCreateClientOnClick()
	{
		try
		{
			await Task.Run(() =>
			{
				NavigationManager.NavigateTo("/createclients");
			});
		}
		catch (Exception ex) { DisplayErrorAlert(ex.Message); }
	}


	//Edit Client Details
	private void OnEditButtonClicked(string cclient, string ccat)
	{
		try
		{

			NavigationManager.NavigateTo($"/editclient/{cclient}/{ccat}");
		}
		catch (Exception ex)
		{
			DisplayErrorAlert(ex.Message);
		}
	}

}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Client Name</th>
				<th>Phone</th>
				<th>Email ID</th>
				<th>Category</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>

			@{
				RestResponse RR = Fetchclientdetails();
				var cd = new List<Client_Details>();
				if (RR.IsSuccessful == true)
				{
					try
					{
						cd = JsonConvert.DeserializeObject<List<Client_Details>>(RR.Content);
						@foreach (var client in cd)
						{
							<tr>
								<td>@client.ClientName</td>
								<td>@client.Phone</td>
								<td>@client.EmailID</td>
								<td>@client.Category</td>
								<td><button class="btn btn-link" @onclick="@(e => OnEditButtonClicked(client.ClientName, client.Category))">Edit</button></td>
							</tr>
						}
					}
					catch (Exception ex)
					{
						DisplayErrorAlert(ex.Message);
					}
				}
				else
				{
					cd = null;
					DisplayErrorAlert(RR.ErrorException.InnerException.Message.ToString());
				}
			}
		</tbody>
	</table>
</div>
