@page "/createnewclient"
@using RestSharp;
@using Newtonsoft.Json;
@using PMSMaui.Data.Auth;
@using PMSMaui.Data.Common;
@using PMSMaui.Data.DoctorDetails;
@using PMSMaui.Data.ClientDetails;
@using PMS_Library.Models.DataModel;
@using PMS_Library.Models.CustomModel;
@using PMSMaui.Data.ClientCategories;

@inject NavigationManager navManager;

<h3>Create New Client</h3>
<h4></h4>

@code {

	private string ClientName { get; set; }
	private string PhoneNo { get; set; }	
	private string Emailid { get; set; }	
	private string Category { get; set; }
	private string Password { get; set; }

	private CreateAdminAccount cdObject = new();


	IList<Client_Categories> catList = new List<Client_Categories>();
	private Client_Categories ccObject = new();
	private Categories catClass = new();





	//Initialize
	protected override void OnInitialized()
	{
		try
		{
			catList = JsonConvert.DeserializeObject<IList<Client_Categories>>(Categories.FetchCategories().Content);
		}
		catch (Exception ex)
		{
			Application.Current.MainPage.DisplayAlert("Failure", ex.Message, "Ok");
		}
		base.OnInitialized();
	}

	protected async Task AddClient(EditContext clientContext)
	{
		bool isValid = clientContext.Validate();
		try
		{
			if (isValid == true)
			{
				ClientName = clientContext.Model.GetType().GetProperty("ClientName").GetValue(clientContext.Model).ToString();
				PhoneNo = clientContext.Model.GetType().GetProperty("Phone").GetValue(clientContext.Model).ToString();
				Emailid = "admin@"+ClientName+".com";
				Password = clientContext.Model.GetType().GetProperty("Password").GetValue(clientContext.Model).ToString();
				Category = clientContext.Model.GetType().GetProperty("Category").GetValue(clientContext.Model).ToString();

				Task<RestResponse> TcliResponse = Task.Run(() => Clients.AddClient(ClientName, Emailid.ToUpper(), PhoneNo, Category));
				RestResponse restResponse = await TcliResponse;

				var clidetails = JsonConvert.DeserializeObject<Client_Details>(restResponse.Content);

				//If Client Added Successfully, then add the user details
				if (restResponse.IsSuccessful)
				{
					// Add the Client Super User
					var user = new User_Auth
						{
							EmailID = Emailid,
							Password = Password,
							Role = "ClientSuper",
							ClientName = ClientName
						};

					Task<RestResponse> response = Task.Run(() => Accounts.Register(user));
					var savResponse = await response; 

					if(savResponse.IsSuccessful)
					{
						await Application.Current.MainPage.DisplayAlert("Success", "Client Added Successfully with Client Super Account", "Ok");
						navManager.NavigateTo("/viewclientdetails", true);
                    }
                    else
                    {
						await Application.Current.MainPage.DisplayAlert("Failure", savResponse.Content, "Ok");
                    }
				}
				else
				{
					await Application.Current.MainPage.DisplayAlert("Failure", restResponse.Content, "Ok");
				}				
			}
			else
			{
				await Application.Current.MainPage.DisplayAlert("Failure", "Please Enter Valid Details", "Ok");
			}
		}
		catch(Exception ex)
        {
			await Application.Current.MainPage.DisplayAlert("Failure", ex.Message, "Ok");
        }
	}
}

@{
	@try
	{
		<EditForm Model="@cdObject" OnValidSubmit="@AddClient">
			<DataAnnotationsValidator />
			<!-- <ValidationSummary /> -->
			<div class="form-group row">
				<label for="lblClientName" class="col-sm-2 col-form-label">Client Name</label>
				<div class="col-sm-10">
					<InputText id="txtClientName" class="form-control" @bind-Value="cdObject.ClientName" />
					<ValidationMessage For="@(()=>cdObject.ClientName)" />
				</div>
			</div>

			<div class="form-group row">
				<label for="lblPhone" class="col-sm-2 col-form-label">Phone</label>
				<div class="col-sm-10">
					<InputText id="txtPhone" class="form-control" @bind-Value="cdObject.Phone" />
					<ValidationMessage For="@(() => cdObject.Phone)" />
				</div>
			</div>

			<div class="form-group row">
				<label for="lblPassword" class="col-sm-2 col-form-label">Set Admin Password</label>
				<div class="col-sm-10">
					<InputText id="txtPhone" class="form-control" @bind-Value="cdObject.Password" />
					<ValidationMessage For="@(() => cdObject.Phone)" />
				</div>
			</div>

			<div class="form-group row">
				<label for="lblCategory" class="col-sm-2 col-form-label">Category</label>
				<div class="col-sm-10">
					<InputSelect id="selCat" class="form-control" @bind-Value="cdObject.Category" >
						<option selected value="-1">Please Select the Category</option>
                        @foreach (var item in catList)
                        {
                            <option value="@item.CategoryName">@item.CategoryName</option>
                        }
					</InputSelect>
					<ValidationMessage For="@(()=>cdObject.Category)" />
				</div>
			</div>

			<div class="form-group row">
                <div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
                </div>
			</div>
		</EditForm>
	}
	catch(Exception ex)
	{
		Application.Current.MainPage.DisplayAlert("Failure", ex.Message, "Ok");
	}
}

